.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}

.text-input__date {
  @extend .text-input;
  margin-right: 15px;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  text-align: center;
  width: 250px;
  &:focus {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.08);
  }
}

.select {
  @extend .text-input;
  background-color: #FFFFFF;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}

.input-row {
  display: flex;
  flex-direction: row;
}

.input-row__even {
  @extend .input-row;
  justify-content: space-between;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 3.2rem;
  line-height: 3.2rem;
  font-size: 1.2rem;
}

.react-datepicker__current-month {
  font-size: 1.3rem;
}

.text-input__date,
.time_picker_container {
  min-width: 300px;
  font-size: $font-size-large;
}

.time_picker_preview {
  border: 1px solid #cacccd;
  box-shadow: none;
}

.time_picker_modal_header {
  height: 50px;
  line-height: 5rem;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 15px;
  background-color: #3498db;
  color: #FFFFFF;
  border-radius: 2px 2px 0 0;
}
