* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Roboto, Helvetica, Arial;
  font-size: $m-size;
  line-height: 1.6;
}

a, button {
  cursor: pointer;
  text-decoration: none;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
